---
---

@import "{{ site.theme }}";

/* Override theme a styling for masthead title
	================================================== */
.masthead .title a,
.masthead .title a:visited {
	color: #f3f3f3;
	font-weight: normal;
}
.masthead .title a:hover,
.masthead .title a:active {
	color: #F0B500;
}

