---
---

@import "{{ site.theme }}";

/* Override theme a styling for masthead title
	================================================== */
.masthead .title a,
.masthead .title a:visited {
	display: block;
	color: #fbfbfb; /* #f3f3f3; */
	font-weight: normal;
}
.masthead .title a:hover,
.masthead .title a:active {
	color: #ffcc00; /* #F0B500; */
	
}
.masthead {
	padding-top: 0;
	padding-right: 0;
	padding-bottom: 65px;
	padding-left: 0;
	/* width: auto; */
}
.masthead .title {
	padding-top: 25px;
}
.masthead .title:hover {
	background-image: none;
	background-color: #235796;
}

/* Override theme ul styling for bulletpoint image
	================================================== */
ul {
	list-style-image: url("../images/awsomesauce-bullet.png");
}

