<h1 class="title">Shell</h1>

<div class="authbox">
   <span class="lbl">User Info:</span>
   <span class="lbl">Is Authenticated?</span><span>{{userInfo.isAuthenticated}}</span>
   <span class="lbl">User Name:</span><span>{{userInfo.userName}}</span>
   <button data-ng-click="vm.Login()">Login</button>
   <button data-ng-click="vm.Logout()">Logout</button>
</div>

<div class="nav-wrapper">
	<nav id="MainNav" class="hnav">
		<ul class="navmenu">
			<li><a href="#" ui-sref="shell.intro">Intro</a></li>
			<li><a href="#" ui-sref="shell.directors">Directors</a></li>
			<li><a href="#" ui-sref="shell.agents">Agents</a></li>
		</ul>
	</nav>
</div>

<div ui-view id="ShellView" class="scopebox"></div>